<div class="form-modal" id="form-modal-change-password"
	style="display: block;">
	<div class="change-password">
		<div ng-show="null!=message || null!=spaceMessage || formchangepassword.confirm_password.$error.confirmpassword || formchangepassword.$invalid && submitted" class="error-message-container">
			<img class="error-icon malign" src="app/img/error-warning-icon.png" />
			<p class="malign">
			<!-- <span class="error-title">System Error: </span>--> 
				<span class="error-msg">
					{{message}}
				</span>
				<span class="error-title">{{spaceMessage}}</span>
				<!-- <span class="error-title" ng-show="formchangepassword.confirm_password.$error.confirmpassword" translate="changepassword.view.PASSWORD_DOES_NOT_MATCH"></span>-->
					<span class="error-title" ng-show="formchangepassword.$invalid && submitted" translate="changepassword.view.FILL_MANDATORY_FIELDS"></span>
			</p>
		</div>
		<h2 translate="changepassword.view.CHANGE_YOUR_PASSWORD"></h2>
		<form name="formchangepassword" ng-class="{'validate': submitted}"
			id="form-change-password" ng-submit="changePassword(data)" novalidate>
			<!--<input type="password" id="old_password" placeholder="Old password" ng-model="data.oldPassword" autocomplete="off" required/>-->
			<input type="password" ng-trim="false" id="new_password" placeholder="New password" ng-model="data.newPassword" maxlength="20" ng-class="{'invalid-input':isvalidclass==0}" required />
			<input type="password" id="confirm_password" ng-trim="false" name="confirm_password" maxlength="20" placeholder="Confirm new password" ng-model="data.confirmPassword"
				required="true" ng-class="{'invalid-input':isvalidclass==0}"/>
			<div class="submit-container center-align">
				<input type="submit" value="Next" class="submit" />
			</div>
		</form>
	</div>
</div>