<div class="stpls_checkout_container overlay_view animated fadeIn">
    <div class="header clearfix info_header">
      <div class="pull-left">
        <button id="backButton" class="btn btn_chevron_back" ng-click="$root.back()">
          <i class="icon_chevron_back"></i>
        </button>
      </div>
  		<div class="pull-right"></div>
      <p id="manageAddrHeader_id" class="page_header" translate="ADR_MANAGE"></p>
    </div>
    <div id="PageContent">
        <div class="profile_row cc">
            <address display="'form'" id="123" editable="true" selectable="true" show-counter="true"
                addresses="addresses" address-count="addressCount"></address>
        </div>
    </div>
</div>
