<div class="modal-header" ng-if="p.header">
    <button class="button close" ng-if="p.header.close" ng-click="close()">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <p class="modal-title" ng-bind="p.header.title"></p>
</div>

<div class="modal-body stpls_product_container" ng-class="{black: p.shippingLogic}">

    <div class="row product_header">
        <div class="product" ng-if="p.product">
            <div class="col-xs-5">
                <img class="animated fadeIn" lazy-load-image="true" lazy-src="{{p.product.images[0]}}?$std$" />
            </div>

              <div class="price priceInPrompt">
                    <p ng-bind-html="p.product.name"></p>

                    <div ng-if="p.product.priceInCartOnly == 'true'">
                        <p ng-if="p.product.pricing[0].showRegPrice == 'true'" class="reg" >Reg <span ng-bind="p.product.pricing[0].listPrice | currency: '$'"></span></p>
                        <p ng-if="p.product.priceInCartOnly == 'true'" class="priceincart_tiny">{{'CART_SEEPRICE'|translate}}</p>
                    </div>

                    <div ng-if="p.product.priceInCartOnly == 'false'">
                        <p ng-if="p.product.pricing[0].showRegPrice == 'true'" class="reg">Reg <span ng-bind="v.pricing[0].listPrice | currency: '$'"></span></p>
                        <p class="final" ng-bind="p.product.pricing[0].finalPrice | currency: '$'"></p>
                        <p class="unit" ng-bind="p.product.pricing[0].uom"></p>
                    </div>
                </div>
        </div>

        <div class="shipping_flag" ng-if="p.shippingLogic">

            <button class="button close" ng-click="close()"><span class="glyphicon glyphicon-remove"></span></button>
            <div ng-if="p.shippingLogic.isAddOnSKU">
                <p class="shipping_tag addOn_flag">
                    <span>{{p.shippingLogic.addOnIndicator}}</span>
                </p>

            </div>

            <div ng-if="!p.shippingLogic.isAddOnSKU">
                <p class="shipping_tag oversize_flag">{{'PROD_OVERSIZED'|translate}}</p>
            </div>

            <p ng-bind="p.shippingLogic.message"></p>
        </div>

        <p class="message" ng-if="p.message" ng-bind="p.message"></p>
    </div>
</div>

<div class="modal-footer" ng-if="p.actions">
    <div class="col-xs-{{action_col}}"  ng-if="p.actions.primary">
        <button id="primaryactionId" class="btn stpls_primary" ng-bind="p.actions.primary.title" ng-click="path(p.actions.primary)"></button>
    </div>

    <div class="col-xs-{{action_col}}" ng-if="p.actions.secondary_half">
        <button id="secondaryactionId" class="btn stpls_secondary" ng-bind="p.actions.secondary.title" ng-click="path(p.actions.secondary)"></button>
    </div>
</div>
