// Main style guide palette

$palette--stpls-red: #C00;
$palette--brightred: #F00;
$palette--blue: #0092DB;
$palette--green: #B7CA00;
$palette--orange: #FF9600;
$palette--gray-dark: #333333;
$palette--gray-dark-1: #515151;
$palette--gray-med-dark: #4A4A4A;
$palette--gray-med: #888888;
$palette--gray-med-light: #9B9B9B;
$palette--gray-med-lighter: #D9D9D9;
$palette--gray-light: #F1F1F1;
$palette--offwhite: #FAFAFA;
$palette--white: #FFF;
$palette--black: #000;
$palette--gray-light-2: #dddddd;
$palette--gray-light-3: rgba(204, 204, 204, .4);
$palette--gray-light-4: #d2d2d2;

$palette--offblack: #4D4D4D;

$palette--nav-background: $palette--white;
$palette--header-background: #F4F4F4;
$palette--checkout-card: #CCCCCC;

$palette--rebate-red: #CC0000;
$palette--toggle-switch: #E6E6E6;
$palette--list-border-bottom: #979797;

$palette--sidenav-background: $palette--white;
$palette--sidenav-border: $palette--gray-light;
$palette--sidenav-link: $palette--gray-dark;

$palette--blue-browser: #5AA3E8;

$palette--footer-link: #B0B0B0;
$palette--footer-background: $palette--white;

$palette--cart-shipnotify: #0097D7;

$palette--pill-default-background: #e8f0fa;
$palette--addontag-background: $palette--blue;
$palette--oversizetag-background: $palette--blue;


//personalized cards
$palette--stpls-light-grey: #999999;
$palette--stpls-warm-grey: #9b9b9b;
$palette--stpls-white-two: #dfdfdf;
$palette--stpls-white-four: #f7f7f7;
$palette--stpls-dull-yellow: #ead556;
$palette--stpls-nasty-green: #77a53b;
$palette--stpls-green-apple: #4ac31c;
$palette--stpls-dark-sky-blue: #4a90e2;
$palette--stpls-dusk: #454e70;
$palette--stpls-brownish-grey: #666666;
$palette--stpls-marine: #093855;
$palette--stpls-gray-light-3: #b3b3b3;
