/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$inktoner-logos-brother-name: 'inktoner_logos_brother';
$inktoner-logos-brother-x: 38px;
$inktoner-logos-brother-y: 88px;
$inktoner-logos-brother-offset-x: -38px;
$inktoner-logos-brother-offset-y: -88px;
$inktoner-logos-brother-width: 61px;
$inktoner-logos-brother-height: 14px;
$inktoner-logos-brother-total-width: 145px;
$inktoner-logos-brother-total-height: 126px;
$inktoner-logos-brother-image: '../../../assets/images/inktoner_sprite_e513895d.png';
$inktoner-logos-brother: (38px, 88px, -38px, -88px, 61px, 14px, 145px, 126px, '../../../assets/images/inktoner_sprite_e513895d.png', 'inktoner_logos_brother', );
$inktoner-logos-canon-name: 'inktoner_logos_canon';
$inktoner-logos-canon-x: 38px;
$inktoner-logos-canon-y: 74px;
$inktoner-logos-canon-offset-x: -38px;
$inktoner-logos-canon-offset-y: -74px;
$inktoner-logos-canon-width: 70px;
$inktoner-logos-canon-height: 14px;
$inktoner-logos-canon-total-width: 145px;
$inktoner-logos-canon-total-height: 126px;
$inktoner-logos-canon-image: '../../../assets/images/inktoner_sprite_e513895d.png';
$inktoner-logos-canon: (38px, 74px, -38px, -74px, 70px, 14px, 145px, 126px, '../../../assets/images/inktoner_sprite_e513895d.png', 'inktoner_logos_canon', );
$inktoner-logos-dell-name: 'inktoner_logos_dell';
$inktoner-logos-dell-x: 0px;
$inktoner-logos-dell-y: 0px;
$inktoner-logos-dell-offset-x: 0px;
$inktoner-logos-dell-offset-y: 0px;
$inktoner-logos-dell-width: 55px;
$inktoner-logos-dell-height: 55px;
$inktoner-logos-dell-total-width: 145px;
$inktoner-logos-dell-total-height: 126px;
$inktoner-logos-dell-image: '../../../assets/images/inktoner_sprite_e513895d.png';
$inktoner-logos-dell: (0px, 0px, 0px, 0px, 55px, 55px, 145px, 126px, '../../../assets/images/inktoner_sprite_e513895d.png', 'inktoner_logos_dell', );
$inktoner-logos-epson-name: 'inktoner_logos_epson';
$inktoner-logos-epson-x: 0px;
$inktoner-logos-epson-y: 112px;
$inktoner-logos-epson-offset-x: 0px;
$inktoner-logos-epson-offset-y: -112px;
$inktoner-logos-epson-width: 61px;
$inktoner-logos-epson-height: 14px;
$inktoner-logos-epson-total-width: 145px;
$inktoner-logos-epson-total-height: 126px;
$inktoner-logos-epson-image: '../../../assets/images/inktoner_sprite_e513895d.png';
$inktoner-logos-epson: (0px, 112px, 0px, -112px, 61px, 14px, 145px, 126px, '../../../assets/images/inktoner_sprite_e513895d.png', 'inktoner_logos_epson', );
$inktoner-logos-hp-name: 'inktoner_logos_hp';
$inktoner-logos-hp-x: 0px;
$inktoner-logos-hp-y: 74px;
$inktoner-logos-hp-offset-x: 0px;
$inktoner-logos-hp-offset-y: -74px;
$inktoner-logos-hp-width: 38px;
$inktoner-logos-hp-height: 38px;
$inktoner-logos-hp-total-width: 145px;
$inktoner-logos-hp-total-height: 126px;
$inktoner-logos-hp-image: '../../../assets/images/inktoner_sprite_e513895d.png';
$inktoner-logos-hp: (0px, 74px, 0px, -74px, 38px, 38px, 145px, 126px, '../../../assets/images/inktoner_sprite_e513895d.png', 'inktoner_logos_hp', );
$inktoner-logos-lexmark-name: 'inktoner_logos_lexmark';
$inktoner-logos-lexmark-x: 0px;
$inktoner-logos-lexmark-y: 55px;
$inktoner-logos-lexmark-offset-x: 0px;
$inktoner-logos-lexmark-offset-y: -55px;
$inktoner-logos-lexmark-width: 90px;
$inktoner-logos-lexmark-height: 19px;
$inktoner-logos-lexmark-total-width: 145px;
$inktoner-logos-lexmark-total-height: 126px;
$inktoner-logos-lexmark-image: '../../../assets/images/inktoner_sprite_e513895d.png';
$inktoner-logos-lexmark: (0px, 55px, 0px, -55px, 90px, 19px, 145px, 126px, '../../../assets/images/inktoner_sprite_e513895d.png', 'inktoner_logos_lexmark', );
$inktoner-logos-oki-name: 'inktoner_logos_oki';
$inktoner-logos-oki-x: 90px;
$inktoner-logos-oki-y: 55px;
$inktoner-logos-oki-offset-x: -90px;
$inktoner-logos-oki-offset-y: -55px;
$inktoner-logos-oki-width: 51px;
$inktoner-logos-oki-height: 14px;
$inktoner-logos-oki-total-width: 145px;
$inktoner-logos-oki-total-height: 126px;
$inktoner-logos-oki-image: '../../../assets/images/inktoner_sprite_e513895d.png';
$inktoner-logos-oki: (90px, 55px, -90px, -55px, 51px, 14px, 145px, 126px, '../../../assets/images/inktoner_sprite_e513895d.png', 'inktoner_logos_oki', );
$inktoner-logos-samsung-name: 'inktoner_logos_samsung';
$inktoner-logos-samsung-x: 55px;
$inktoner-logos-samsung-y: 0px;
$inktoner-logos-samsung-offset-x: -55px;
$inktoner-logos-samsung-offset-y: 0px;
$inktoner-logos-samsung-width: 90px;
$inktoner-logos-samsung-height: 30px;
$inktoner-logos-samsung-total-width: 145px;
$inktoner-logos-samsung-total-height: 126px;
$inktoner-logos-samsung-image: '../../../assets/images/inktoner_sprite_e513895d.png';
$inktoner-logos-samsung: (55px, 0px, -55px, 0px, 90px, 30px, 145px, 126px, '../../../assets/images/inktoner_sprite_e513895d.png', 'inktoner_logos_samsung', );
$inktoner-logos-xerox-name: 'inktoner_logos_xerox';
$inktoner-logos-xerox-x: 55px;
$inktoner-logos-xerox-y: 30px;
$inktoner-logos-xerox-offset-x: -55px;
$inktoner-logos-xerox-offset-y: -30px;
$inktoner-logos-xerox-width: 90px;
$inktoner-logos-xerox-height: 24px;
$inktoner-logos-xerox-total-width: 145px;
$inktoner-logos-xerox-total-height: 126px;
$inktoner-logos-xerox-image: '../../../assets/images/inktoner_sprite_e513895d.png';
$inktoner-logos-xerox: (55px, 30px, -55px, -30px, 90px, 24px, 145px, 126px, '../../../assets/images/inktoner_sprite_e513895d.png', 'inktoner_logos_xerox', );
$inktoner-logos-brother-2x-name: 'inktoner_logos_brother@2x';
$inktoner-logos-brother-2x-x: 76px;
$inktoner-logos-brother-2x-y: 176px;
$inktoner-logos-brother-2x-offset-x: -76px;
$inktoner-logos-brother-2x-offset-y: -176px;
$inktoner-logos-brother-2x-width: 122px;
$inktoner-logos-brother-2x-height: 28px;
$inktoner-logos-brother-2x-total-width: 290px;
$inktoner-logos-brother-2x-total-height: 252px;
$inktoner-logos-brother-2x-image: '../../../assets/images/inktoner_sprite_e513895d@2x.png';
$inktoner-logos-brother-2x: (76px, 176px, -76px, -176px, 122px, 28px, 290px, 252px, '../../../assets/images/inktoner_sprite_e513895d@2x.png', 'inktoner_logos_brother@2x', );
$inktoner-logos-canon-2x-name: 'inktoner_logos_canon@2x';
$inktoner-logos-canon-2x-x: 76px;
$inktoner-logos-canon-2x-y: 148px;
$inktoner-logos-canon-2x-offset-x: -76px;
$inktoner-logos-canon-2x-offset-y: -148px;
$inktoner-logos-canon-2x-width: 140px;
$inktoner-logos-canon-2x-height: 28px;
$inktoner-logos-canon-2x-total-width: 290px;
$inktoner-logos-canon-2x-total-height: 252px;
$inktoner-logos-canon-2x-image: '../../../assets/images/inktoner_sprite_e513895d@2x.png';
$inktoner-logos-canon-2x: (76px, 148px, -76px, -148px, 140px, 28px, 290px, 252px, '../../../assets/images/inktoner_sprite_e513895d@2x.png', 'inktoner_logos_canon@2x', );
$inktoner-logos-dell-2x-name: 'inktoner_logos_dell@2x';
$inktoner-logos-dell-2x-x: 0px;
$inktoner-logos-dell-2x-y: 0px;
$inktoner-logos-dell-2x-offset-x: 0px;
$inktoner-logos-dell-2x-offset-y: 0px;
$inktoner-logos-dell-2x-width: 110px;
$inktoner-logos-dell-2x-height: 110px;
$inktoner-logos-dell-2x-total-width: 290px;
$inktoner-logos-dell-2x-total-height: 252px;
$inktoner-logos-dell-2x-image: '../../../assets/images/inktoner_sprite_e513895d@2x.png';
$inktoner-logos-dell-2x: (0px, 0px, 0px, 0px, 110px, 110px, 290px, 252px, '../../../assets/images/inktoner_sprite_e513895d@2x.png', 'inktoner_logos_dell@2x', );
$inktoner-logos-epson-2x-name: 'inktoner_logos_epson@2x';
$inktoner-logos-epson-2x-x: 0px;
$inktoner-logos-epson-2x-y: 224px;
$inktoner-logos-epson-2x-offset-x: 0px;
$inktoner-logos-epson-2x-offset-y: -224px;
$inktoner-logos-epson-2x-width: 122px;
$inktoner-logos-epson-2x-height: 28px;
$inktoner-logos-epson-2x-total-width: 290px;
$inktoner-logos-epson-2x-total-height: 252px;
$inktoner-logos-epson-2x-image: '../../../assets/images/inktoner_sprite_e513895d@2x.png';
$inktoner-logos-epson-2x: (0px, 224px, 0px, -224px, 122px, 28px, 290px, 252px, '../../../assets/images/inktoner_sprite_e513895d@2x.png', 'inktoner_logos_epson@2x', );
$inktoner-logos-hp-2x-name: 'inktoner_logos_hp@2x';
$inktoner-logos-hp-2x-x: 0px;
$inktoner-logos-hp-2x-y: 148px;
$inktoner-logos-hp-2x-offset-x: 0px;
$inktoner-logos-hp-2x-offset-y: -148px;
$inktoner-logos-hp-2x-width: 76px;
$inktoner-logos-hp-2x-height: 76px;
$inktoner-logos-hp-2x-total-width: 290px;
$inktoner-logos-hp-2x-total-height: 252px;
$inktoner-logos-hp-2x-image: '../../../assets/images/inktoner_sprite_e513895d@2x.png';
$inktoner-logos-hp-2x: (0px, 148px, 0px, -148px, 76px, 76px, 290px, 252px, '../../../assets/images/inktoner_sprite_e513895d@2x.png', 'inktoner_logos_hp@2x', );
$inktoner-logos-lexmark-2x-name: 'inktoner_logos_lexmark@2x';
$inktoner-logos-lexmark-2x-x: 0px;
$inktoner-logos-lexmark-2x-y: 110px;
$inktoner-logos-lexmark-2x-offset-x: 0px;
$inktoner-logos-lexmark-2x-offset-y: -110px;
$inktoner-logos-lexmark-2x-width: 180px;
$inktoner-logos-lexmark-2x-height: 38px;
$inktoner-logos-lexmark-2x-total-width: 290px;
$inktoner-logos-lexmark-2x-total-height: 252px;
$inktoner-logos-lexmark-2x-image: '../../../assets/images/inktoner_sprite_e513895d@2x.png';
$inktoner-logos-lexmark-2x: (0px, 110px, 0px, -110px, 180px, 38px, 290px, 252px, '../../../assets/images/inktoner_sprite_e513895d@2x.png', 'inktoner_logos_lexmark@2x', );
$inktoner-logos-oki-2x-name: 'inktoner_logos_oki@2x';
$inktoner-logos-oki-2x-x: 180px;
$inktoner-logos-oki-2x-y: 110px;
$inktoner-logos-oki-2x-offset-x: -180px;
$inktoner-logos-oki-2x-offset-y: -110px;
$inktoner-logos-oki-2x-width: 102px;
$inktoner-logos-oki-2x-height: 28px;
$inktoner-logos-oki-2x-total-width: 290px;
$inktoner-logos-oki-2x-total-height: 252px;
$inktoner-logos-oki-2x-image: '../../../assets/images/inktoner_sprite_e513895d@2x.png';
$inktoner-logos-oki-2x: (180px, 110px, -180px, -110px, 102px, 28px, 290px, 252px, '../../../assets/images/inktoner_sprite_e513895d@2x.png', 'inktoner_logos_oki@2x', );
$inktoner-logos-samsung-2x-name: 'inktoner_logos_samsung@2x';
$inktoner-logos-samsung-2x-x: 110px;
$inktoner-logos-samsung-2x-y: 0px;
$inktoner-logos-samsung-2x-offset-x: -110px;
$inktoner-logos-samsung-2x-offset-y: 0px;
$inktoner-logos-samsung-2x-width: 180px;
$inktoner-logos-samsung-2x-height: 60px;
$inktoner-logos-samsung-2x-total-width: 290px;
$inktoner-logos-samsung-2x-total-height: 252px;
$inktoner-logos-samsung-2x-image: '../../../assets/images/inktoner_sprite_e513895d@2x.png';
$inktoner-logos-samsung-2x: (110px, 0px, -110px, 0px, 180px, 60px, 290px, 252px, '../../../assets/images/inktoner_sprite_e513895d@2x.png', 'inktoner_logos_samsung@2x', );
$inktoner-logos-xerox-2x-name: 'inktoner_logos_xerox@2x';
$inktoner-logos-xerox-2x-x: 110px;
$inktoner-logos-xerox-2x-y: 60px;
$inktoner-logos-xerox-2x-offset-x: -110px;
$inktoner-logos-xerox-2x-offset-y: -60px;
$inktoner-logos-xerox-2x-width: 180px;
$inktoner-logos-xerox-2x-height: 48px;
$inktoner-logos-xerox-2x-total-width: 290px;
$inktoner-logos-xerox-2x-total-height: 252px;
$inktoner-logos-xerox-2x-image: '../../../assets/images/inktoner_sprite_e513895d@2x.png';
$inktoner-logos-xerox-2x: (110px, 60px, -110px, -60px, 180px, 48px, 290px, 252px, '../../../assets/images/inktoner_sprite_e513895d@2x.png', 'inktoner_logos_xerox@2x', );
$spritesheet-width: 145px;
$spritesheet-height: 126px;
$spritesheet-image: '../../../assets/images/inktoner_sprite_e513895d.png';
$spritesheet-sprites: ($inktoner-logos-brother, $inktoner-logos-canon, $inktoner-logos-dell, $inktoner-logos-epson, $inktoner-logos-hp, $inktoner-logos-lexmark, $inktoner-logos-oki, $inktoner-logos-samsung, $inktoner-logos-xerox, );
$spritesheet: (145px, 126px, '../../../assets/images/inktoner_sprite_e513895d.png', $spritesheet-sprites, );
$retina-spritesheet-width: 290px;
$retina-spritesheet-height: 252px;
$retina-spritesheet-image: '../../../assets/images/inktoner_sprite_e513895d@2x.png';
$retina-spritesheet-sprites: ($inktoner-logos-brother-2x, $inktoner-logos-canon-2x, $inktoner-logos-dell-2x, $inktoner-logos-epson-2x, $inktoner-logos-hp-2x, $inktoner-logos-lexmark-2x, $inktoner-logos-oki-2x, $inktoner-logos-samsung-2x, $inktoner-logos-xerox-2x, );
$retina-spritesheet: (290px, 252px, '../../../assets/images/inktoner_sprite_e513895d@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$inktoner-logos-brother-group-name: 'inktoner_logos_brother';
$inktoner-logos-brother-group: ('inktoner_logos_brother', $inktoner-logos-brother, $inktoner-logos-brother-2x, );
$inktoner-logos-canon-group-name: 'inktoner_logos_canon';
$inktoner-logos-canon-group: ('inktoner_logos_canon', $inktoner-logos-canon, $inktoner-logos-canon-2x, );
$inktoner-logos-dell-group-name: 'inktoner_logos_dell';
$inktoner-logos-dell-group: ('inktoner_logos_dell', $inktoner-logos-dell, $inktoner-logos-dell-2x, );
$inktoner-logos-epson-group-name: 'inktoner_logos_epson';
$inktoner-logos-epson-group: ('inktoner_logos_epson', $inktoner-logos-epson, $inktoner-logos-epson-2x, );
$inktoner-logos-hp-group-name: 'inktoner_logos_hp';
$inktoner-logos-hp-group: ('inktoner_logos_hp', $inktoner-logos-hp, $inktoner-logos-hp-2x, );
$inktoner-logos-lexmark-group-name: 'inktoner_logos_lexmark';
$inktoner-logos-lexmark-group: ('inktoner_logos_lexmark', $inktoner-logos-lexmark, $inktoner-logos-lexmark-2x, );
$inktoner-logos-oki-group-name: 'inktoner_logos_oki';
$inktoner-logos-oki-group: ('inktoner_logos_oki', $inktoner-logos-oki, $inktoner-logos-oki-2x, );
$inktoner-logos-samsung-group-name: 'inktoner_logos_samsung';
$inktoner-logos-samsung-group: ('inktoner_logos_samsung', $inktoner-logos-samsung, $inktoner-logos-samsung-2x, );
$inktoner-logos-xerox-group-name: 'inktoner_logos_xerox';
$inktoner-logos-xerox-group: ('inktoner_logos_xerox', $inktoner-logos-xerox, $inktoner-logos-xerox-2x, );
$retina-groups: ($inktoner-logos-brother-group, $inktoner-logos-canon-group, $inktoner-logos-dell-group, $inktoner-logos-epson-group, $inktoner-logos-hp-group, $inktoner-logos-lexmark-group, $inktoner-logos-oki-group, $inktoner-logos-samsung-group, $inktoner-logos-xerox-group, );


