/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$store-apple-name: 'store_apple';
$store-apple-x: 0px;
$store-apple-y: 0px;
$store-apple-offset-x: 0px;
$store-apple-offset-y: 0px;
$store-apple-width: 26px;
$store-apple-height: 26px;
$store-apple-total-width: 99px;
$store-apple-total-height: 93px;
$store-apple-image: '../../../assets/images/stores_sprite_69938e4e.png';
$store-apple: (0px, 0px, 0px, 0px, 26px, 26px, 99px, 93px, '../../../assets/images/stores_sprite_69938e4e.png', 'store_apple', );
$store-bopis-name: 'store_bopis';
$store-bopis-x: 21px;
$store-bopis-y: 52px;
$store-bopis-offset-x: -21px;
$store-bopis-offset-y: -52px;
$store-bopis-width: 21px;
$store-bopis-height: 21px;
$store-bopis-total-width: 99px;
$store-bopis-total-height: 93px;
$store-bopis-image: '../../../assets/images/stores_sprite_69938e4e.png';
$store-bopis: (21px, 52px, -21px, -52px, 21px, 21px, 99px, 93px, '../../../assets/images/stores_sprite_69938e4e.png', 'store_bopis', );
$store-ca-post-name: 'store_ca_post';
$store-ca-post-x: 26px;
$store-ca-post-y: 0px;
$store-ca-post-offset-x: -26px;
$store-ca-post-offset-y: 0px;
$store-ca-post-width: 26px;
$store-ca-post-height: 26px;
$store-ca-post-total-width: 99px;
$store-ca-post-total-height: 93px;
$store-ca-post-image: '../../../assets/images/stores_sprite_69938e4e.png';
$store-ca-post: (26px, 0px, -26px, 0px, 26px, 26px, 99px, 93px, '../../../assets/images/stores_sprite_69938e4e.png', 'store_ca_post', );
$store-furniture-name: 'store_furniture';
$store-furniture-x: 0px;
$store-furniture-y: 26px;
$store-furniture-offset-x: 0px;
$store-furniture-offset-y: -26px;
$store-furniture-width: 26px;
$store-furniture-height: 26px;
$store-furniture-total-width: 99px;
$store-furniture-total-height: 93px;
$store-furniture-image: '../../../assets/images/stores_sprite_69938e4e.png';
$store-furniture: (0px, 26px, 0px, -26px, 26px, 26px, 99px, 93px, '../../../assets/images/stores_sprite_69938e4e.png', 'store_furniture', );
$store-graphic-name: 'store_graphic';
$store-graphic-x: 26px;
$store-graphic-y: 26px;
$store-graphic-offset-x: -26px;
$store-graphic-offset-y: -26px;
$store-graphic-width: 26px;
$store-graphic-height: 26px;
$store-graphic-total-width: 99px;
$store-graphic-total-height: 93px;
$store-graphic-image: '../../../assets/images/stores_sprite_69938e4e.png';
$store-graphic: (26px, 26px, -26px, -26px, 26px, 26px, 99px, 93px, '../../../assets/images/stores_sprite_69938e4e.png', 'store_graphic', );
$store-mobile-name: 'store_mobile';
$store-mobile-x: 0px;
$store-mobile-y: 73px;
$store-mobile-offset-x: 0px;
$store-mobile-offset-y: -73px;
$store-mobile-width: 20px;
$store-mobile-height: 20px;
$store-mobile-total-width: 99px;
$store-mobile-total-height: 93px;
$store-mobile-image: '../../../assets/images/stores_sprite_69938e4e.png';
$store-mobile: (0px, 73px, 0px, -73px, 20px, 20px, 99px, 93px, '../../../assets/images/stores_sprite_69938e4e.png', 'store_mobile', );
$store-mobile-printing-name: 'store_mobile_printing';
$store-mobile-printing-x: 0px;
$store-mobile-printing-y: 52px;
$store-mobile-printing-offset-x: 0px;
$store-mobile-printing-offset-y: -52px;
$store-mobile-printing-width: 21px;
$store-mobile-printing-height: 21px;
$store-mobile-printing-total-width: 99px;
$store-mobile-printing-total-height: 93px;
$store-mobile-printing-image: '../../../assets/images/stores_sprite_69938e4e.png';
$store-mobile-printing: (0px, 52px, 0px, -52px, 21px, 21px, 99px, 93px, '../../../assets/images/stores_sprite_69938e4e.png', 'store_mobile_printing', );
$store-print-name: 'store_print';
$store-print-x: 78px;
$store-print-y: 42px;
$store-print-offset-x: -78px;
$store-print-offset-y: -42px;
$store-print-width: 21px;
$store-print-height: 21px;
$store-print-total-width: 99px;
$store-print-total-height: 93px;
$store-print-image: '../../../assets/images/stores_sprite_69938e4e.png';
$store-print: (78px, 42px, -78px, -42px, 21px, 21px, 99px, 93px, '../../../assets/images/stores_sprite_69938e4e.png', 'store_print', );
$store-purolotor-name: 'store_purolotor';
$store-purolotor-x: 52px;
$store-purolotor-y: 0px;
$store-purolotor-offset-x: -52px;
$store-purolotor-offset-y: 0px;
$store-purolotor-width: 26px;
$store-purolotor-height: 26px;
$store-purolotor-total-width: 99px;
$store-purolotor-total-height: 93px;
$store-purolotor-image: '../../../assets/images/stores_sprite_69938e4e.png';
$store-purolotor: (52px, 0px, -52px, 0px, 26px, 26px, 99px, 93px, '../../../assets/images/stores_sprite_69938e4e.png', 'store_purolotor', );
$store-rental-name: 'store_rental';
$store-rental-x: 52px;
$store-rental-y: 26px;
$store-rental-offset-x: -52px;
$store-rental-offset-y: -26px;
$store-rental-width: 26px;
$store-rental-height: 26px;
$store-rental-total-width: 99px;
$store-rental-total-height: 93px;
$store-rental-image: '../../../assets/images/stores_sprite_69938e4e.png';
$store-rental: (52px, 26px, -52px, -26px, 26px, 26px, 99px, 93px, '../../../assets/images/stores_sprite_69938e4e.png', 'store_rental', );
$store-shiptostore-name: 'store_shiptostore';
$store-shiptostore-x: 78px;
$store-shiptostore-y: 21px;
$store-shiptostore-offset-x: -78px;
$store-shiptostore-offset-y: -21px;
$store-shiptostore-width: 21px;
$store-shiptostore-height: 21px;
$store-shiptostore-total-width: 99px;
$store-shiptostore-total-height: 93px;
$store-shiptostore-image: '../../../assets/images/stores_sprite_69938e4e.png';
$store-shiptostore: (78px, 21px, -78px, -21px, 21px, 21px, 99px, 93px, '../../../assets/images/stores_sprite_69938e4e.png', 'store_shiptostore', );
$store-tech-services-name: 'store_tech_services';
$store-tech-services-x: 78px;
$store-tech-services-y: 0px;
$store-tech-services-offset-x: -78px;
$store-tech-services-offset-y: 0px;
$store-tech-services-width: 21px;
$store-tech-services-height: 21px;
$store-tech-services-total-width: 99px;
$store-tech-services-total-height: 93px;
$store-tech-services-image: '../../../assets/images/stores_sprite_69938e4e.png';
$store-tech-services: (78px, 0px, -78px, 0px, 21px, 21px, 99px, 93px, '../../../assets/images/stores_sprite_69938e4e.png', 'store_tech_services', );
$store-ups-name: 'store_ups';
$store-ups-x: 20px;
$store-ups-y: 73px;
$store-ups-offset-x: -20px;
$store-ups-offset-y: -73px;
$store-ups-width: 17px;
$store-ups-height: 20px;
$store-ups-total-width: 99px;
$store-ups-total-height: 93px;
$store-ups-image: '../../../assets/images/stores_sprite_69938e4e.png';
$store-ups: (20px, 73px, -20px, -73px, 17px, 20px, 99px, 93px, '../../../assets/images/stores_sprite_69938e4e.png', 'store_ups', );
$store-usps-name: 'store_usps';
$store-usps-x: 37px;
$store-usps-y: 73px;
$store-usps-offset-x: -37px;
$store-usps-offset-y: -73px;
$store-usps-width: 20px;
$store-usps-height: 12px;
$store-usps-total-width: 99px;
$store-usps-total-height: 93px;
$store-usps-image: '../../../assets/images/stores_sprite_69938e4e.png';
$store-usps: (37px, 73px, -37px, -73px, 20px, 12px, 99px, 93px, '../../../assets/images/stores_sprite_69938e4e.png', 'store_usps', );
$store-workstation-name: 'store_workstation';
$store-workstation-x: 42px;
$store-workstation-y: 52px;
$store-workstation-offset-x: -42px;
$store-workstation-offset-y: -52px;
$store-workstation-width: 21px;
$store-workstation-height: 21px;
$store-workstation-total-width: 99px;
$store-workstation-total-height: 93px;
$store-workstation-image: '../../../assets/images/stores_sprite_69938e4e.png';
$store-workstation: (42px, 52px, -42px, -52px, 21px, 21px, 99px, 93px, '../../../assets/images/stores_sprite_69938e4e.png', 'store_workstation', );
$store-apple-2x-name: 'store_apple@2x';
$store-apple-2x-x: 0px;
$store-apple-2x-y: 0px;
$store-apple-2x-offset-x: 0px;
$store-apple-2x-offset-y: 0px;
$store-apple-2x-width: 52px;
$store-apple-2x-height: 52px;
$store-apple-2x-total-width: 198px;
$store-apple-2x-total-height: 186px;
$store-apple-2x-image: '../../../assets/images/stores_sprite_69938e4e@2x.png';
$store-apple-2x: (0px, 0px, 0px, 0px, 52px, 52px, 198px, 186px, '../../../assets/images/stores_sprite_69938e4e@2x.png', 'store_apple@2x', );
$store-bopis-2x-name: 'store_bopis@2x';
$store-bopis-2x-x: 42px;
$store-bopis-2x-y: 104px;
$store-bopis-2x-offset-x: -42px;
$store-bopis-2x-offset-y: -104px;
$store-bopis-2x-width: 42px;
$store-bopis-2x-height: 42px;
$store-bopis-2x-total-width: 198px;
$store-bopis-2x-total-height: 186px;
$store-bopis-2x-image: '../../../assets/images/stores_sprite_69938e4e@2x.png';
$store-bopis-2x: (42px, 104px, -42px, -104px, 42px, 42px, 198px, 186px, '../../../assets/images/stores_sprite_69938e4e@2x.png', 'store_bopis@2x', );
$store-ca-post-2x-name: 'store_ca_post@2x';
$store-ca-post-2x-x: 52px;
$store-ca-post-2x-y: 0px;
$store-ca-post-2x-offset-x: -52px;
$store-ca-post-2x-offset-y: 0px;
$store-ca-post-2x-width: 52px;
$store-ca-post-2x-height: 52px;
$store-ca-post-2x-total-width: 198px;
$store-ca-post-2x-total-height: 186px;
$store-ca-post-2x-image: '../../../assets/images/stores_sprite_69938e4e@2x.png';
$store-ca-post-2x: (52px, 0px, -52px, 0px, 52px, 52px, 198px, 186px, '../../../assets/images/stores_sprite_69938e4e@2x.png', 'store_ca_post@2x', );
$store-furniture-2x-name: 'store_furniture@2x';
$store-furniture-2x-x: 0px;
$store-furniture-2x-y: 52px;
$store-furniture-2x-offset-x: 0px;
$store-furniture-2x-offset-y: -52px;
$store-furniture-2x-width: 52px;
$store-furniture-2x-height: 52px;
$store-furniture-2x-total-width: 198px;
$store-furniture-2x-total-height: 186px;
$store-furniture-2x-image: '../../../assets/images/stores_sprite_69938e4e@2x.png';
$store-furniture-2x: (0px, 52px, 0px, -52px, 52px, 52px, 198px, 186px, '../../../assets/images/stores_sprite_69938e4e@2x.png', 'store_furniture@2x', );
$store-graphic-2x-name: 'store_graphic@2x';
$store-graphic-2x-x: 52px;
$store-graphic-2x-y: 52px;
$store-graphic-2x-offset-x: -52px;
$store-graphic-2x-offset-y: -52px;
$store-graphic-2x-width: 52px;
$store-graphic-2x-height: 52px;
$store-graphic-2x-total-width: 198px;
$store-graphic-2x-total-height: 186px;
$store-graphic-2x-image: '../../../assets/images/stores_sprite_69938e4e@2x.png';
$store-graphic-2x: (52px, 52px, -52px, -52px, 52px, 52px, 198px, 186px, '../../../assets/images/stores_sprite_69938e4e@2x.png', 'store_graphic@2x', );
$store-mobile-2x-name: 'store_mobile@2x';
$store-mobile-2x-x: 0px;
$store-mobile-2x-y: 146px;
$store-mobile-2x-offset-x: 0px;
$store-mobile-2x-offset-y: -146px;
$store-mobile-2x-width: 40px;
$store-mobile-2x-height: 40px;
$store-mobile-2x-total-width: 198px;
$store-mobile-2x-total-height: 186px;
$store-mobile-2x-image: '../../../assets/images/stores_sprite_69938e4e@2x.png';
$store-mobile-2x: (0px, 146px, 0px, -146px, 40px, 40px, 198px, 186px, '../../../assets/images/stores_sprite_69938e4e@2x.png', 'store_mobile@2x', );
$store-mobile-printing-2x-name: 'store_mobile_printing@2x';
$store-mobile-printing-2x-x: 0px;
$store-mobile-printing-2x-y: 104px;
$store-mobile-printing-2x-offset-x: 0px;
$store-mobile-printing-2x-offset-y: -104px;
$store-mobile-printing-2x-width: 42px;
$store-mobile-printing-2x-height: 42px;
$store-mobile-printing-2x-total-width: 198px;
$store-mobile-printing-2x-total-height: 186px;
$store-mobile-printing-2x-image: '../../../assets/images/stores_sprite_69938e4e@2x.png';
$store-mobile-printing-2x: (0px, 104px, 0px, -104px, 42px, 42px, 198px, 186px, '../../../assets/images/stores_sprite_69938e4e@2x.png', 'store_mobile_printing@2x', );
$store-print-2x-name: 'store_print@2x';
$store-print-2x-x: 156px;
$store-print-2x-y: 84px;
$store-print-2x-offset-x: -156px;
$store-print-2x-offset-y: -84px;
$store-print-2x-width: 42px;
$store-print-2x-height: 42px;
$store-print-2x-total-width: 198px;
$store-print-2x-total-height: 186px;
$store-print-2x-image: '../../../assets/images/stores_sprite_69938e4e@2x.png';
$store-print-2x: (156px, 84px, -156px, -84px, 42px, 42px, 198px, 186px, '../../../assets/images/stores_sprite_69938e4e@2x.png', 'store_print@2x', );
$store-purolotor-2x-name: 'store_purolotor@2x';
$store-purolotor-2x-x: 104px;
$store-purolotor-2x-y: 0px;
$store-purolotor-2x-offset-x: -104px;
$store-purolotor-2x-offset-y: 0px;
$store-purolotor-2x-width: 52px;
$store-purolotor-2x-height: 52px;
$store-purolotor-2x-total-width: 198px;
$store-purolotor-2x-total-height: 186px;
$store-purolotor-2x-image: '../../../assets/images/stores_sprite_69938e4e@2x.png';
$store-purolotor-2x: (104px, 0px, -104px, 0px, 52px, 52px, 198px, 186px, '../../../assets/images/stores_sprite_69938e4e@2x.png', 'store_purolotor@2x', );
$store-rental-2x-name: 'store_rental@2x';
$store-rental-2x-x: 104px;
$store-rental-2x-y: 52px;
$store-rental-2x-offset-x: -104px;
$store-rental-2x-offset-y: -52px;
$store-rental-2x-width: 52px;
$store-rental-2x-height: 52px;
$store-rental-2x-total-width: 198px;
$store-rental-2x-total-height: 186px;
$store-rental-2x-image: '../../../assets/images/stores_sprite_69938e4e@2x.png';
$store-rental-2x: (104px, 52px, -104px, -52px, 52px, 52px, 198px, 186px, '../../../assets/images/stores_sprite_69938e4e@2x.png', 'store_rental@2x', );
$store-shiptostore-2x-name: 'store_shiptostore@2x';
$store-shiptostore-2x-x: 156px;
$store-shiptostore-2x-y: 42px;
$store-shiptostore-2x-offset-x: -156px;
$store-shiptostore-2x-offset-y: -42px;
$store-shiptostore-2x-width: 42px;
$store-shiptostore-2x-height: 42px;
$store-shiptostore-2x-total-width: 198px;
$store-shiptostore-2x-total-height: 186px;
$store-shiptostore-2x-image: '../../../assets/images/stores_sprite_69938e4e@2x.png';
$store-shiptostore-2x: (156px, 42px, -156px, -42px, 42px, 42px, 198px, 186px, '../../../assets/images/stores_sprite_69938e4e@2x.png', 'store_shiptostore@2x', );
$store-tech-services-2x-name: 'store_tech_services@2x';
$store-tech-services-2x-x: 156px;
$store-tech-services-2x-y: 0px;
$store-tech-services-2x-offset-x: -156px;
$store-tech-services-2x-offset-y: 0px;
$store-tech-services-2x-width: 42px;
$store-tech-services-2x-height: 42px;
$store-tech-services-2x-total-width: 198px;
$store-tech-services-2x-total-height: 186px;
$store-tech-services-2x-image: '../../../assets/images/stores_sprite_69938e4e@2x.png';
$store-tech-services-2x: (156px, 0px, -156px, 0px, 42px, 42px, 198px, 186px, '../../../assets/images/stores_sprite_69938e4e@2x.png', 'store_tech_services@2x', );
$store-ups-2x-name: 'store_ups@2x';
$store-ups-2x-x: 40px;
$store-ups-2x-y: 146px;
$store-ups-2x-offset-x: -40px;
$store-ups-2x-offset-y: -146px;
$store-ups-2x-width: 34px;
$store-ups-2x-height: 40px;
$store-ups-2x-total-width: 198px;
$store-ups-2x-total-height: 186px;
$store-ups-2x-image: '../../../assets/images/stores_sprite_69938e4e@2x.png';
$store-ups-2x: (40px, 146px, -40px, -146px, 34px, 40px, 198px, 186px, '../../../assets/images/stores_sprite_69938e4e@2x.png', 'store_ups@2x', );
$store-usps-2x-name: 'store_usps@2x';
$store-usps-2x-x: 74px;
$store-usps-2x-y: 146px;
$store-usps-2x-offset-x: -74px;
$store-usps-2x-offset-y: -146px;
$store-usps-2x-width: 40px;
$store-usps-2x-height: 24px;
$store-usps-2x-total-width: 198px;
$store-usps-2x-total-height: 186px;
$store-usps-2x-image: '../../../assets/images/stores_sprite_69938e4e@2x.png';
$store-usps-2x: (74px, 146px, -74px, -146px, 40px, 24px, 198px, 186px, '../../../assets/images/stores_sprite_69938e4e@2x.png', 'store_usps@2x', );
$store-workstation-2x-name: 'store_workstation@2x';
$store-workstation-2x-x: 84px;
$store-workstation-2x-y: 104px;
$store-workstation-2x-offset-x: -84px;
$store-workstation-2x-offset-y: -104px;
$store-workstation-2x-width: 42px;
$store-workstation-2x-height: 42px;
$store-workstation-2x-total-width: 198px;
$store-workstation-2x-total-height: 186px;
$store-workstation-2x-image: '../../../assets/images/stores_sprite_69938e4e@2x.png';
$store-workstation-2x: (84px, 104px, -84px, -104px, 42px, 42px, 198px, 186px, '../../../assets/images/stores_sprite_69938e4e@2x.png', 'store_workstation@2x', );
$spritesheet-width: 99px;
$spritesheet-height: 93px;
$spritesheet-image: '../../../assets/images/stores_sprite_69938e4e.png';
$spritesheet-sprites: ($store-apple, $store-bopis, $store-ca-post, $store-furniture, $store-graphic, $store-mobile, $store-mobile-printing, $store-print, $store-purolotor, $store-rental, $store-shiptostore, $store-tech-services, $store-ups, $store-usps, $store-workstation, );
$spritesheet: (99px, 93px, '../../../assets/images/stores_sprite_69938e4e.png', $spritesheet-sprites, );
$retina-spritesheet-width: 198px;
$retina-spritesheet-height: 186px;
$retina-spritesheet-image: '../../../assets/images/stores_sprite_69938e4e@2x.png';
$retina-spritesheet-sprites: ($store-apple-2x, $store-bopis-2x, $store-ca-post-2x, $store-furniture-2x, $store-graphic-2x, $store-mobile-2x, $store-mobile-printing-2x, $store-print-2x, $store-purolotor-2x, $store-rental-2x, $store-shiptostore-2x, $store-tech-services-2x, $store-ups-2x, $store-usps-2x, $store-workstation-2x, );
$retina-spritesheet: (198px, 186px, '../../../assets/images/stores_sprite_69938e4e@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$store-apple-group-name: 'store_apple';
$store-apple-group: ('store_apple', $store-apple, $store-apple-2x, );
$store-bopis-group-name: 'store_bopis';
$store-bopis-group: ('store_bopis', $store-bopis, $store-bopis-2x, );
$store-ca-post-group-name: 'store_ca_post';
$store-ca-post-group: ('store_ca_post', $store-ca-post, $store-ca-post-2x, );
$store-furniture-group-name: 'store_furniture';
$store-furniture-group: ('store_furniture', $store-furniture, $store-furniture-2x, );
$store-graphic-group-name: 'store_graphic';
$store-graphic-group: ('store_graphic', $store-graphic, $store-graphic-2x, );
$store-mobile-group-name: 'store_mobile';
$store-mobile-group: ('store_mobile', $store-mobile, $store-mobile-2x, );
$store-mobile-printing-group-name: 'store_mobile_printing';
$store-mobile-printing-group: ('store_mobile_printing', $store-mobile-printing, $store-mobile-printing-2x, );
$store-print-group-name: 'store_print';
$store-print-group: ('store_print', $store-print, $store-print-2x, );
$store-purolotor-group-name: 'store_purolotor';
$store-purolotor-group: ('store_purolotor', $store-purolotor, $store-purolotor-2x, );
$store-rental-group-name: 'store_rental';
$store-rental-group: ('store_rental', $store-rental, $store-rental-2x, );
$store-shiptostore-group-name: 'store_shiptostore';
$store-shiptostore-group: ('store_shiptostore', $store-shiptostore, $store-shiptostore-2x, );
$store-tech-services-group-name: 'store_tech_services';
$store-tech-services-group: ('store_tech_services', $store-tech-services, $store-tech-services-2x, );
$store-ups-group-name: 'store_ups';
$store-ups-group: ('store_ups', $store-ups, $store-ups-2x, );
$store-usps-group-name: 'store_usps';
$store-usps-group: ('store_usps', $store-usps, $store-usps-2x, );
$store-workstation-group-name: 'store_workstation';
$store-workstation-group: ('store_workstation', $store-workstation, $store-workstation-2x, );
$retina-groups: ($store-apple-group, $store-bopis-group, $store-ca-post-group, $store-furniture-group, $store-graphic-group, $store-mobile-group, $store-mobile-printing-group, $store-print-group, $store-purolotor-group, $store-rental-group, $store-shiptostore-group, $store-tech-services-group, $store-ups-group, $store-usps-group, $store-workstation-group, );


