<form name="passwordForm" ng-submit="save(passwordForm)" novalidate>
    <div class="row">
        <div class="col-xs-12 required_info"><span class="red">*</span> Indicates required information</div>
    </div>
    <div class="row">
        <div class="col-xs-12 section_content input_row password_row">
            <label for="originalPassword">Old Password <span class="red">*</span></label>
            <div>
            <input type="password"
                   name="logonPasswordOld"
                   class="form-control"
                   ng-minlength="6"
                   ng-maxlength="255"
                   ng-model="logonPasswordOld"
                   ng-pattern="/^([a-zA-Z0-9#?!@$%^&*-])+$/"
                   input-reset-control
                   required />

            <div class="error-messages"
                ng-if="interacted(passwordForm.logonPasswordOld)"
                ng-messages="passwordForm.logonPasswordOld.$error">
                <div class="alert alert-danger" ng-message="minlength">{{'ACT_OLDPASSWORD_MINERROR'|translate}}</div>
                <div class="alert alert-danger" ng-message="maxlength">{{'ACT_OLDPASSWORD_MAXERROR'|translate}}</div>
                <div class="alert alert-danger" ng-message="pattern">{{'ACT_OLDPASSWORD_INVALIDCHAR'|translate}}</div>
                <div class="alert alert-danger" ng-message="required">{{'ACT_OLDPASSWORD_REQUIRED'|translate}}</div>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 section_content input_row password_row">
            <label for="logonPassword">New Password <span class="red">*</span></label>
            <div>
            <input type="password"
                   name="logonPassword"
                   class="form-control"
                   ng-minlength="8"
                   ng-maxlength="255"
                   ng-model="logonPassword"
                   ng-pattern="/^([a-zA-Z0-9#?!@$%^&*-])+$/"
                   input-reset-control
                   required />
            <div class="error-messages"
                ng-if="interacted(passwordForm.logonPassword)"
                ng-messages="passwordForm.logonPassword.$error"
                ng-messages-include="common/form-messages/password.html"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 section_content input_row password_row">
            <label for="logonPasswordVerify">Repeat Password <span class="red">*</span></label>
            <div>
            <input type="password"
                   name="logonPasswordVerify"
                   class="form-control"
                   ng-minlength="8"
                   ng-maxlength="255"
                   ng-model="logonPasswordVerify"
                   ng-pattern="/^([a-zA-Z0-9#?!@$%^&*-])+$/"
                   input-reset-control
                   match-validator="logonPassword"
                   required />
            <div class="error-messages"
                ng-if="interacted(passwordForm.logonPasswordVerify)"
                ng-messages="passwordForm.logonPasswordVerify.$error"
                ng-messages-include="common/form-messages/password.html"></div>
            <div class="alert alert-danger" ng-show="errorMsg && !passwordForm.$valid"><span>{{errorMsg}}</span></div>
            </div>
        </div>
    </div>
    <div class="row btn_row">
    <div class="col-xs-6">
        <button id="save_password" class="btn stpls_primary btn_full_width" type="submit">Save</button>
    </div>
    <div class="col-xs-6">
        <button id="cancel_password" class="btn stpls_secondary_half btn_full_width" type="button" ng-click="cancel(passwordForm)">Cancel</button>
    </div>
  </div>
</form>
