<div class="stpls_account_container animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <p id="pwd_header_Id" class="page_header" translate="LGN_FORGOT_PWD_HEADER"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12"><span class="red">*</span>{{'ACT_IND_REQ_INFO'|translate}}</div>
    </div>

    <div class="row">
        <div class="password_head_div col-xs-12">
            <label id="pwd_forgotheader_Id" class="password_head_label">{{'LGN_FORGOT_PWD_TEXT'|translate}}</label>
        </div>
    </div>

    <form name="forgotPwdForm" ng-submit="forgotPwdSubmit(forgotPwdForm)" class="animated" novalidate>

        <div class="row">
            <div class="col-xs-12">
                <label id="pwd_emailLabel_Id" class="password_normallabel" for="pwd_emailInput_Id">{{'ACT_EML_ADD'|translate}}<span class="red">*</span></label>
				<div email-address>
                	<input id="pwd_emailInput_Id" name="email1" type="email" ng-model="emailModel" class="form-control input_single email" input-reset-control required autocomplete="off"/>
                </div>
                 <div id="pwd_emailError_Id" class="error-messages"
                    ng-if="forgotPwdForm.$submitted && !forgotPwdForm.email1.$valid"
                    ng-messages="forgotPwdForm.email1.$error"
                    ng-messages-include="common/form-messages/common.html"></div>
            </div>
        </div>
        <br/>

        <div ng-show="!forgotRtnMessage">
            <div class="row">
                <div class="col-xs-12">
                    <p id="forgotPwdInfo_Id">{{'LGN_FORGOT_PWD_INFO'|translate}}</p>
                </div>
            </div>
            <div ng-show="resetError" class="row">
                <div class="col-xs-12">
                    <label id="pwd_InfoError_Id" class="password_normallabel red">{{resetError}}</label>
                </div>
            </div>
        </div>

        <div ng-show="forgotRtnMessage">
            <div class="row">
                <div class="col-xs-12">
                    <label id="pwd_InfoText_Id" class="password_normallabel red" id="forgotPwdInfo_Id">{{forgotRtnMessage}}</label>
                </div>
            </div>
        </div>

       	<div class="row">
            <div class="col-xs-12">
                <button ng-show="!show_submit" id="pwd_ShopBtn_Id" type="button" ng-click="continueShopping()" class="btn btn_full_width stpls_tertiary" translate="ACT_CONTINUE_SHOPPING"></button>
                <button ng-show="show_submit" id="pwd_SubmitBtn_Id" type="submit" class="btn btn_full_width stpls_secondary" ng-disabled="forgotPwdForm.email1.$invalid" translate="ACT_SUBMIT"></button>
            </div>
        </div>
    </form>
</div>
